/* color palette for the app */
:root{
    --powder-blue: #DDF2F4;
    --light-blue: #84A6D6;
    --dark-blue: #4382BB;
    --lilac: #E4CEE0;
    --light-purple: #A15D98;
    --deep-blue:#003768;
    /* --yellowish: #f8f888; */
}
/* styling for the body of the page */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
/* the header styling */
.header{
    grid-area: header;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--deep-blue);
    color: var(--powder-blue);
}
/* the logo */
.logo p{
    font-family: 'Princess Sofia', cursive;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2em;
}
/* navigation styling */
.nav ul{
    display: flex;
    margin-right: 5em;
}
nav ul li{
    list-style-type: none;
    margin-left: 2em;
}
nav ul li a{
    text-decoration: none;
    color: var(--powder-blue);
}
/* the section containing details of cities searched */
.bottom-container{
    display: grid;
    grid-template-areas: "first second";
    background-image: repeating-linear-gradient(45deg, rgb(255,255,255) 0px, rgb(255,255,255) 20px,transparent 20px, transparent 21px),repeating-linear-gradient(135deg, rgb(255,255,255) 0px, rgb(255,255,255) 20px,transparent 20px, transparent 21px),linear-gradient(90deg, hsl(168,96%,25%),hsl(168,96%,25%));
}
/* the div to the left containing current details of a searched city */
.current-city{
    padding: 2em 5em 5em 3em;
    color: var(--deep-blue);
    text-align: center;
    border-right: 2px solid var(--deep-blue);
    background-image: linear-gradient(white,var(--yellowish), var(--yellowish));
}
/* the weather conditions for the four previous days */
.four-days{
    text-align: center;
    margin-top: 2em;
}
.four-days i{
    margin-left: 1em;
    color: var(--deep-blue);
}
.four-days span{
    color: var(--deep-blue);
}
.current-city h2{
    font-weight: 600;
    line-height: 1.2em;
}
.current-city .time{
    font-size: 1.3rem;
    font-weight: 500;
    margin-top: -.2em;
}
.current-city .date{
    font-weight: 300;
    font-size: 1.2rem;
}
.current-city span{
    margin-left: 2em;
}
.current-city #sun{
    font-size: 3em;
}
br{
    display: none;
}
/* the current weather temperature in searched city */
.degree{
    font-size: 1.3rem;
}
/* the four previous days */
.days{
    color: var(--deep-blue);
    font-size: 1em;
}
.day1{
    margin-right: .5em;
}
#day1-icon{
    margin-left: .8em;
}
/* the section by the right with detailed information of the day's weather */
.current-day-details{
    padding: 2em 8em 0em 3em;
    color: var(--deep-blue);
}
/* the top heading of the right section */
.today-heading{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* the heading, and high and low temperature span */
.today-heading h2, .high-low span{
    font-weight: 500;
    font-size: 1.5rem;
}
.high-low{
    display: flex;
}
.high, .low{
    margin-left: 2em;
}
/* breakdown of the hourly weather */
.hour-breakdown{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-bottom: 4em;
    margin-left: 2em;
}
.hour-breakdown i{
    font-size: 2em;
}

/* section below with additional information for the weather */
.more-weather-info{
    display: flex;
    justify-content: center;
    padding-top: 3em;
}
/* the information boxes */
.info1, .info2{
    padding: 0em 5em 0em 2em;
    border-radius: 1.2em;
    min-width: 200px;
    max-width: 600px;
    max-height: 250px;
    box-shadow:  0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: white;
}
.info2{
    margin-left: 2em;
    text-align: center;
    padding: 0em 3.5em 0em 3.5em;
}
.info1 li{
    list-style-type: disc;
    padding-bottom: .4em;
}
.info1 h3{
    margin-left: 1em;
}
/* more info */
.info-arrow{
    margin-left: 90%;
    margin-top: 2em;
    display: none;
}
/* the footer section */
footer{
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--deep-blue);
    color: var(--powder-blue);
    padding: 1em;
}
footer a{
    color: var(--powder-blue);
    text-decoration: none;
}
/* social media links */
.social{
    color: var(--powder-blue);
    margin-left: 1em;
    margin-top: 1em;
}
/* the logo in the footer */
footer .logo{
    margin-top: 1em;
    margin-left: -10em;
}
/* copyright statement */
.copyright{
    margin-top: 1em;
}
@media screen and (max-width:1082px){
    .four-days span{
        display: none;
    }
}
@media screen and (max-width:900px){
    .bottom-container{
    display: flex;
    flex-direction: column;        
        
    }
    .current-city p{
        font-size: 1.3rem;
    }
    .four-days{
        text-align: center;
    }
    .four-days span{
        display: inline-block;
    }
    .today-heading{
        justify-content: center;
    }
    .hour-breakdown{
        margin-left: 2em;
    }
    .hour-breakdown i{
        font-size: 2em;
        margin-right: .7em;
    }
    .info1 li{
        list-style-type: none;
        padding-bottom: 0px;
    }
    .more-weather-info{
        flex-direction: column;
        justify-content: center;
        margin-left: 2em;
    }
    .four-days i{
        margin-left: .5em;
    }
    .info1, .info2{
        text-align: center;
        min-width: 150px;
    }
    .info2{
        margin: 2em auto;
    }
    footer{
        flex-direction: column;
    }
    footer .logo{
        margin-left: -3em;
    }
}
@media screen and (max-width:500px){
    .hour-6, .hour-7{
        display: none;
    }
    .info1, .info2{
        margin-left: 2em;
        text-align: center;
    }
    .info1 li{
        list-style-type: disc;
    }
    .four-days i{
        margin-left: 1.5em;
    }
    .today-heading{
        text-align: center;
    }
    .today-heading h2{
        margin-left: 2em;
    }
    .hour-breakdown{
        margin-left: 0em;
    }
    .more-weather-info{
        margin-left: 0em;
    }
    .high, .low{
        display: none;
    }
    .day1{
        margin-right: 1.5em;
    }
    #day1-icon{
        margin-left: .5em;
    }

}
@media screen and (max-width:390px){
    .info1, .info2{
        margin-left: 0em;
        text-align: center;
    }
    .today-heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .logo{
        margin-left: -5em;
    }
}
@media screen and (max-width:360px){
    .current-city p{
        font-size: 1rem;
    }
}
@media screen and (max-width:320px){
    .more-weather-info{
        margin-left: -.9em;
    }
    .hour-breakdown{
        margin-left: -1em;
    }
    br{
        display: block;
        margin-left: 2em;
    }
    .current-city p{
        font-size: 1rem;
    }
}